<div class='login-wrapper'>
	<%= render 'shared/flash_alert' %>
	<%= form_tag session_path do %>
		<div class='form-group'>
			<%= label_tag :email %><br/>
			<%= text_field_tag :email, nil, :class => 'form-control' %>
		</div>
		<div class='form-group'>
			<%= label_tag :password %><br/>
			<%= password_field_tag :password, nil, :class => 'form-control'  %>
		</div>
		<div class='actions'>
			<%= submit_tag 'Log In', :class => 'btn btn-default' %>
		</div>
	<% end %>
</div>
