<div class="modal fade" id="newIdeaModal" tabindex="-1" role="dialog" aria-labelledby="newIdeaModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

		<form ng-submit='addIdea()' >
			<div class="modal-header">
				<h4 class="modal-title"><%= t('tell_me') %></h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<textarea ng-model='idea' id='ideaTextarea' class='form-control' rows='3' maxlength='1500'></textarea>
				</div>
				<div class='error-wrapper'>
					{{error}}
				</div>  
				<div class='explain'>
					<%= t('new_idea') %>
				</div>
				<div class='form-group tag-list'>
					<% @tags.each do |tag| %>
						<div class='tag btn btn-default' ng-click='addTag(<%= tag.id %>)'><%= tag.tag_name %></div>
					<% end %>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type='submit' class="btn btn-default">Submit</button>
			</div>
	    </form>

    </div>
  </div>
</div>


