<div ng-controller='IdeaCtrl'>
	<div class='idea-list' ng-if='hasIdeas'>
		<div class='idea-list-title'>New Ideas</div>
		<div ng-repeat="idea in ideas">
			<div class='idea-wrapper'>
				<div class='idea-bracket-left'></div>
				<div class='idea-content' ng-bind-html="idea.content | preserveBreaks">{{idea.content}}</div>
				<div class='idea-tags'>
					<div class='tag-static' ng-repeat='tag in idea.tags'>{{tag.tag}}</div>
				</div>

				<% if @logged_in %>
					<div class='engage-section'>
						<i class='glyphicon glyphicon-heart like-button' ng-class='{voted: idea.isVoted }' ng-click='addLike(idea.id)'></i>
						<i class='glyphicon glyphicon-comment comment-button' ng-click='setCurrentComment(idea.id)' data-toggle="modal" data-target="#newCommentModal"></i>
						<span class='label-prompt label pull-right' ng-if='false'>Prompt</span>
					</div>
				<% end %>

			</div>
		</div>
	</div>

	<div class='idea-list' ng-if='!hasIdeas'>
		<h3>There are no ideas here. So sad</h3>
	</div>		

	<div class='idea-list-paginator clear-fix' ng-if='false'>
		<div ng-click='paginateLeft()' class='paginator paginator-left' ng-class='{active: canPageLeft}'><i class='glyphicon glyphicon-chevron-left'></i></div>
		<div ng-click='paginateRight()' class='paginator paginator-right' ng-class='{active: canPageRight}'><i class='glyphicon glyphicon-chevron-right'></i></div>
	</div>	

	<% if @logged_in %>
		<%= render 'ideas/new_idea' %>
	<% end %>
</div>


