<div class="modal fade" id="newCommentModal" tabindex="-1" role="dialog" aria-labelledby="myCommentModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

		<form ng-submit='addComment()' >
			<div class="modal-header">
				<h4 class="modal-title">What do you think?</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<textarea ng-model='comment' id='commentTextarea' class='form-control' rows='3' maxlength='600'></textarea>
				</div>
				<div class='error-wrapper'>
					{{error}}
				</div>  
				<div class='explain'>
					<%= t('dont_be_dick') %>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type='submit' class="btn btn-default">Submit</button>
			</div>
	    </form>

	    <div class='container-fluid' ng-if='hasComments'>
		    <h4 class='short-title'>Responses</h4>
		    <div class='comment-list'>
		    	<div ng-repeat='comment in comments' ng-class="{'last':$last}">
		    		<div class='comment-item'>
		    			{{comment.content}}
						<div ng-if='comment.is_author' class='glyphicon glyphicon-user inner-comment-icon' data-toggle="tooltip" title="Commenter is the author"></div>
		    		</div>
		    	</div>
		    </div>
	    </div>

    </div>
  </div>
</div>