<div class='container-fluid'>
	<div class='row'>
		<section class='user-content'>
			<span>You are</span> <strong><%= @user.email %></strong>
		</section>
	</div>
	<% unless @ideas.empty? %>
		<div class='row'>
			<div class='section-label'><span>Ideas</span></div>
			<section class='user-content'>
				<% @ideas.each do |idea| %>
					<div class='user-idea'>
						<div><%= idea.idea %></div>
						<div>
							<% if idea.isPromoted %>
								<a href='/idea/first-page/<%= idea.promoted_id%>/edit'><i data-toggle="tooltip" title="Promoted" class='glyphicon glyphicon-star pink'></i></a>
								<i data-toggle="tooltip" title="To delete you must delete the promoted page" class='glyphicon glyphicon-trash cursor soft-grey'></i>
							<% end %>
							<% if !idea.isPromoted %>
								<%= link_to raw("<i class='glyphicon glyphicon-trash cursor'></i>"),  idea_path(idea.id), :method => :delete, data: { confirm: "Are you sure?" } %>
							<% end %>
						</div>
					</div>
				<% end %>
			</section>
		</div>
	<% end %>
	<% unless @comments.empty? %>
		<div class='row'>
			<div class='section-label'><span>Comments</span></div>
			<section class='user-content'>
				<% @comments.zip(@ideas_from_comments).each do |comment, idea| %>
					<div class='comment-idea-group'>
						<% unless (idea.nil?) %>
							<div class='comment-item'><%= comment.comment %></div>
							<div class='shortened-idea'><%= idea.idea[0, 200] %>...</div>
						<% end %>
					</div>
				<% end %>
			</section>
		</div>
	<% end %>
	<% unless @likes.empty? %>
		<div class='row'>
			<div class='section-label'><span>Likes</span></div>
			<section class='user-content'>
				<% @likes.zip(@ideas_from_likes).each do |like, idea| %>
					<div class='like-idea-group'>
						<% unless (idea.nil?) %>
							<div class='shortened-idea'><%= idea.idea[0, 200] %>...</div>
						<% end %>
					</div>
				<% end %>
			</section>
		</div>
	<% end %>
</div>