<header class='container-fluid main-header'>
	<div class='logo'>
		<% if (@logged_in) %>
			<%= link_to 'Page Wires', ideas_path %>
		<% else %>
			<%= link_to 'Page Wires', root_path %>
		<% end %>
	</div>

	<div class='site-pages clearfix'>
		<div class='site-page-item'>
			<%= link_to raw("
			<i class='glyphicon glyphicon-file'></i>
			Ideas
			"), ideas_path %>
		</div>
		<div class='site-page-item'>
			<%= link_to raw("
			<i class='glyphicon glyphicon-book'></i>
			Pages
			"), first_pages_path %>
		</div>
	</div>

	<% if (@logged_in) %>

		<div class='new-idea-block'>
			<% if (@confirmation_needed) %>
				<button type="button" class="btn btn-default glyphicon glyphicon-heart inverse-button" data-toggle="modal" data-target="#alertPromotionModal"></button>
			<% end %>
			
			<% if @has_pages %>
				<span class="dropdown">
					<button type='button' class='btn btn-default glyphicon glyphicon-pencil' id="dropdownMenuCreate" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
					<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuCreate">
						<li><a data-toggle="modal" data-target="#newIdeaModal" href="">Create New Idea</a></li>
						<li><a data-toggle="modal" data-target="#pagesListModal" href="">Work on First Pages</a></li>
					</ul>					
				</span>	
			<% else %>
				<button type="button" class="btn btn-default glyphicon glyphicon-pencil" data-toggle="modal" data-target="#newIdeaModal"></button>
			<% end %>

			<span class="dropdown">
				<button type='button' class='btn btn-default glyphicon glyphicon-user dropdown-toggle' id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
				<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
					<li><%= link_to 'Profile', user_path(@user) %></li>
					<li><%= link_to 'Logout', logout_path %></li>
				</ul>					
			</span>
		</div>
	<% end %>

</header>