<% if @logged_in %>

	<div ng-controller='CreateCommentCtrl'>
		<%= render 'comments/new_comment' %>
	</div>

	<% if @confirmation_needed %>
		<div ng-controller='FirstPagesAlertCtrl'>
			<%= render 'first_pages/alerted_to_promotion' %>
		</div>
	<% end %>

	<% if @has_pages %>
		<div>
			<%= render 'first_pages/user_pages_list' %>
		</div>	
	<% end %>

	<% if !(@controller == 'ideas' && @action == 'index') %>
		<div ng-controller='IdeaCtrl'>
			<%= render 'ideas/new_idea' %>
		</div>
	<% end %>

<% end %>

