<div class='clearfix'>
	<div class='home-header'>
		<h1>Page Wires</h1>
	</div>
</div>
<div class='home-body-content'>
	<div class='row'>
		<div class='col-md-4'>

			<div class='process-wrapper'>
				<div class='process-box'>
					<i class='glyphicon glyphicon-pencil'></i>
					Create Ideas
				</div>
				<div class='transition-box glyphicon glyphicon-arrow-down'>

				</div>
				<div class='process-box'>
					<i class='glyphicon glyphicon-thumbs-up'></i>
					Gain Votes
				</div>
				<div class='transition-box glyphicon glyphicon-arrow-down'>

				</div>				
				<div class='process-box'>
					<i class='glyphicon glyphicon-tree-deciduous'></i>
					Grow your Idea
				</div>
				<div class='transition-box glyphicon glyphicon-arrow-down'>

				</div>
				<div class='process-box'>
					<i class='glyphicon glyphicon-comment'></i>
					Get Feedback
				</div>						
				<div class='transition-box glyphicon glyphicon-arrow-down'>

				</div>
				<div class='process-box'>
					<i class='glyphicon glyphicon-book'></i>
					Go from there!
				</div>			
			</div>
	
		</div>	
		<div class='col-md-8'>
			<h4>Page Wires is a place for writers.</h4>
			<h4>The focus is on growing ideas, using the community of fellow writers to help grow ideas.</h4>
			<h4>And then expanding on those ideas with feedback, voting and contests.</h4>
			<div class='button-wrapper'>
				<%= link_to 'Get Started', login_path, class: 'button outline btn nudgeRight-20' %>
				<%= link_to 'Start Reading', ideas_path, class: 'button outline btn' %>
			</div>
		</div>
	</div>

</div>

