<div class='idea-list'>
	<div class='idea-list-title'><%= @tagName %> Ideas</div>
	<% @ideas.each do |idea| %>
		<div class='idea-wrapper'>
			<div class='idea-bracket-left'></div>
			<div class='idea-content'><%= idea.idea %></div>
			<% if @logged_in %>
				<div class='engage-section'>
					<i class='glyphicon glyphicon-comment comment-button' ng-click='setCurrentComment(<%= idea.id %>)' data-toggle="modal" data-target="#newCommentModal"></i>
					<span class='label-prompt label pull-right' ng-if='false'>Prompt</span>
				</div>
			<% end %>			
		</div>
	<% end %>
</div>


