/**
*	Color mixins and variables only
*/
$white: #ffffff;
$offWhite: #F4F4F2;
$black: #0E0E0C;
$pink: #c60646;
$softGrey: #D8D5CE;
$softGreyOpaque: rgba(216, 213, 206, 0.5);
$darkGrey: #333333;
$tan: #A7A195;
$brown: #58544B;
$red: red;


/**
*	Color Classes
*/
.softGrey {
	background-color:$softGrey;
}