// Comment Modal
#newCommentModal {
	.container-fluid {
		margin-top: 2rem;
	}
}

// New Comment List
.comment-list {
	padding-bottom:2rem;

	.comment-item {
		border-bottom:1px solid $softGreyOpaque;
		padding:2rem 0rem;
	}

	.last {
		.comment-item {
			border-bottom:none;
		}
	}
}

// Icons
.inner-comment-icon {
	color:$pink;
	float:right;
}