// Promotion Dialog
#alertPromotionModal {
	.promoted-item {
		margin-bottom:2rem;
	}
}

// Lists 
.page-list-item {
	margin-bottom:2rem;
}

.page-list-title {
	@include listTitle;
}

// Index
.pages-wrapper {
	margin:2rem 0px;
}

.pages-item {
	margin-bottom:3rem;
}

.pages-title {
	@include listTitle;
}

// Show
.first-page-item {
	padding: 0 3rem;
}

.first-page-body {
	margin-bottom:3rem;
}

.first-page-meta {
	margin-bottom:3rem;
	.glyphicon {
		cursor:pointer;
		font-size:24px;
	}	
}

.like-button {
	-webkit-transition:color 500ms;
	transition:color 500ms;
}

.like-button.liked {
	color:$pink;
}

// Tags
.idea-tags.first-page-tags {
	margin-bottom:2rem;
}
