.main-header {
	background-color:$darkGrey;
	color:$white;
	font-weight:bold;
	letter-spacing:2px;
	padding:10px 5%;
}

.logo {
	float:left;
	font-size:24px;
	text-transform:uppercase;
	a {
		color:white;
	}
}

.new-idea-block {
	float:right;

	button {
		font-weight:bold;
	}
}

.site-pages {
	float:left;
	margin-left:20px;
	margin-top:7px;
}

.site-page-item {
	cursor:pointer;
	display:inline-block;
	margin-left:10px;

	a,
	a:hover {
		color:$white;
	}
}