
// Header
body.home.index {
	.site-pages,
	.logo {
		visibility: hidden;
	}
}

.home-header {
	background-image:image-url('book.jpg');
	background-size:cover;
	background-position:center;
	
	position:absolute;
	left:0px;
	top:54px;

	height:500px;
	width:100%;

	h1 {
		@include translateY50;
		@include preserve3d;
		background-color:$darkGrey;
		opacity:0.5;
		color:white;
		font-size:8rem;
		letter-spacing:2px;
		line-height:8rem;
		position:absolute;
		top:50%;
		text-align:center;
		width:100%;
		overflow: hidden;		
	}
}

@media (max-width:768px) {

	.home-header {
		height:400px;
		h1 {
			font-size:5rem;
			line-height:5rem;
			padding:0 50px;			
		}
	}
}

// Body Content
.home-body-content {
	margin-top:500px;

	h4 {
		letter-spacing: 3px;
		line-height:28px;
		margin-bottom:1.25rem;
		text-transform: none;
	}

	img {
		border:$darkGrey;
		border-radius: 200px;
	}

}

@media (max-width:768px) {
	.home-body-content {
		margin-top:400px;
	}
}

// Process Layout
.process-box {
	background-color:$darkGrey;
	border-radius:20px;
	color:$white;
	font-size:1.25rem;
	letter-spacing:1px;
	text-align:center;
	margin:0 auto;
	padding:20px;
	width:80%;	
	
	i {
		margin-right:10px;
	}
}

.transition-box {
	font-size:2rem;
	margin:1rem 0;
	text-align:center;
	width:100%;
}
