.idea-wrapper {
	margin-bottom:2rem;
	padding:1.5rem 2rem 1.5rem calc(2rem + 28px);
	position:relative;


	.idea-bracket-left,
	.idea-bracket-right {
		border:2px solid $softGreyOpaque;
		position:absolute;
		top:0;
		height:100%;
		width:20px;
	}

	.idea-bracket-right {
		border-left:none;
		right:0px;
	}

	.idea-bracket-left {
		border-right:none;
		left:28px;
	}
}

// For use when not part of the main list
.idea-wrapper.left-align {
	padding:1.5rem 2rem 1.5rem 28px;

	.idea-bracket-left {
		left:0px;
	}
}

.idea-list {

	.idea-list-title {
		@include basicTitle;
		margin-bottom:1rem;
	}

	.label-prompt {
		background-color:$pink;
	}

	.engage-section {
		cursor:pointer;
		margin-top:1.25rem;

		.count-square {
			display:none;
			border-right:1px solid $darkGrey;
			padding-right:0.5rem;
			margin-right:0.75rem;
			span {
				font-weight:bold;
			}
		}

		i {
			font-size:18px;
		}

		.like-button {
			color:$darkGrey;
			margin-right:0.75rem;
			-webkit-transition: color 250ms; /* Safari */
    		transition: color 250ms;

			&.voted {
				color:$pink;
			}
		}
	}
}

.idea-list-paginator {
	text-align:center;
	.paginator {
		position:relative;
		opacity:0;
		background-color:$darkGrey;
		border-radius:20px;
		cursor:pointer;
		display:inline-block;
		height:40px;
		width:40px;
		color:white;
		vertical-align:top;	
		z-index:0;			

		i {
			font-size:26px;
			margin-top:5px;
		}

		&.active {
			opacity:1.0;
		}

		&.paginator-left {
			margin-right:5px;					
			i {
				margin-right:3px;
			}

		}
		&.paginator-right {
			margin-left:5px;
			i {
				margin-left:3px;
			}				
		}
	}
}

.tag-list {
	margin:1rem 0px;

	.tag {
		font-weight:bold;
		margin:5px;
		text-transform: capitalize;
	}
}

.tag-static {
	display:inline-block;
	margin-right:20px;
	margin-top:20px;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;

	a {
		color:$pink;
	}
}