
// Titles
@mixin basicTitle {
	font-size:20px;
	font-weight:bold;
	color:$darkGrey;
	letter-spacing:1px;
	text-transform:uppercase;
}

@mixin listTitle {
	font-size:18px;
	font-weight:bold;
	color:$darkGrey;
}

// Padding
@mixin interiorPadding {
	padding:0px 50px;
}


// Error Style
@mixin errorLabel {
	color:$red;
	font-weight:bold;
}


// Translate
@mixin preserve3d {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;   
}

@mixin translateY50 {
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%); 
}