/**
*	Overall look of the application
*/

/**
*	Semantic Elements
*/
body,
html {
	@include openSans;

	background-color:$offWhite;
	border:none;
	color:$black;
	font-size:100%;
	min-height:100%;
	margin:0px;
	padding:0px;
}

h1, h2, h3, h4 {
	@include basicTitle;
	margin-top:0px;
}

img {
	height:auto;
	width:100%;
}

p {
	margin-bottom:1rem;
}

a, a:hover {
	text-decoration:none;
}

pre {
	@include openSans;
	background-color:transparent;
	border:none;	
	font-size:16px;
	padding:0px;
    white-space: pre-wrap;
    word-break: normal;	

    span {
    	background-color:$softGreyOpaque;
    }
}

/**
*	Interaction
*/	
.cursor {
	cursor:pointer;
}

/**
*	Page Layout
*/	
.container.page {
	@include innerPadding;
	background-color:$white;
	padding:50px 50px 100px;
}

/**
*	Error Layout
*/
.error-wrapper {
	@include errorLabel;
	text-transform:uppercase;
}

/**
*	Form Layout
*/
button[type="submit"] {
	background-color:$darkGrey;
	color:$white;
	font-weight:bold;
}

.modal-title {
	font-size:16px;
	letter-spacing:0px;
}

/**
*	Buttons
*/
.button-wrapper {
	margin-top:4rem;
	text-align:center;
}

.button-interior-wrapper {
	margin-top:2rem;
	text-align:right;
	.btn {
		display:inline-block;
	}
}

.button {
	background-color:$white;
	border:2px solid $darkGrey;
	border-radius:10px; 
	color:$darkGrey;
	font-size:1.25rem;
	display:inline-block;
	letter-spacing:2px;
	padding:10px 20px;

	&:hover {
		background-color:$darkGrey;
		color:$white;
		text-decoration: none;
	}

	&.small-button {
		font-size:14px;
		padding:5px 10px;
	}

	&.inverse-button {
		background-color:$darkGrey;
		color:$white;
	}
}
.btn.inverse-button {
	color:$white;
	background-color:$pink;
	border-color:$pink;
}

.btn.accept-button {
	background-color:$darkGrey;
	color:$white;
	font-weight:bold;
	a {
		color:$white;
	}

	&:hover {
	    color: $darkGrey;
	    background-color: #e6e6e6;
	    border-color: #adadad;	
	    a {
	    	color: $darkGrey;
	    }	
	}
}



/**
*	Bootstrap Extension
*/
.bg-info,
.bg-danger {
	padding:10px;
}

span.dropdown {
	li a {
		cursor:pointer;
	}
}

/**
* 	Grid
*/
@media(max-width:768px) {
  [class*="col-"]{
      margin-bottom: 25px;
  }	
}

/** 
*	Nudges - subtle right / left pushes
*/
.nudgeRight-20 {
	margin-right:20px;
}

/**
*	Titles
*/
.short-title {
	font-size:16px;
	letter-spacing:1px;
}

/**
*	Colors
*/
.pink {
	color:$pink;
}

.soft-grey {
	color:$softGrey;
}