.section-label { 
	font-weight:bold;
	border-bottom: 1px solid $darkGrey;
	line-height:0.1em; 
	margin:10px 0 20px;
	text-align:center;
	text-transform:uppercase;
	width:100%;

	span { 
		background:#fff; 
		padding:0 10px; 
	}
}

.user-content {
	padding:1rem 0 2rem;
}

.user-idea,
.like-idea-group,
.comment-idea-group {
	margin-bottom:2rem;
}

.user-idea {
	a {
		i {
			color:$darkGrey;
			&.pink {
				color:$pink;
			}
		}
	}
}

.comment-idea {
	margin-bottom:1rem;
}

.shortened-idea {
	font-style: italic;
}