<div class="modal fade" id="alertPromotionModal" tabindex="-1" role="dialog" aria-labelledby="alertPromotionModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    	<div class='container-fluid'>
    		<div ng-if='!hasError'>
    			<div class='modal-header'>
    				<h3>Your idea has been promoted!</h3>
    			</div>
    			<div class='modal-body'>
	    			<div class='promoted-list'>
	    				<div ng-repeat="promotion in promoted" class='promoted-item'>
	    					<div>{{promotion.idea}}</div>
	    					<div class='button-interior-wrapper'>
	    						<% # Sucks that this should be using the rails helper. Not sure how to best set that up %>
	    						<button class='btn btn-default accept-button'><a href='' ng-click='confirmedPromotion(promotion.page_id);'>Start Writing</a></button>
	    					</div>
	    				</div>
	    			</div>
    			</div>
    		</div>
    		<div ng-if='hasError'>
				<div class='error-wrapper'>
					{{error}}
				</div>  
    		</div>
    	</div>
    </div>
  </div>
</div>


