<div class="modal fade" id="newPageCommentModal" tabindex="-1" role="dialog" aria-labelledby="myPageCommentModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

		<form ng-submit='addComment(<%= id %>)' >
			<div class="modal-header">
				<h4 class="modal-title">What do you think?</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<textarea ng-model='comment' id='firstpageCommentTextarea' class='form-control' rows='3' maxlength='600'></textarea>
				</div>
				<div class='error-wrapper'>
					{{error}}
				</div>  
				<div class='explain'>
					<%= t('dont_be_dick') %>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type='submit' class="btn btn-default">Submit</button>
			</div>
	    </form>

    </div>
  </div>
</div>