<div class="modal fade" id="pagesListModal" tabindex="-1" role="dialog" aria-labelledby="pagesListModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    	<div class='container-fluid'>
    		<div ng-if='!hasError'>
    			<div class='modal-header'>
    				<h3>Your Pages</h3>
    			</div>
    			<div class='modal-body'>
	    			<% @page_list.each do |page| %>
                        <div class='page-list-item'>
                            <div class='page-list-title'>
                                <%= page.title || 'no title' %>
                            </div>
                            <div class='page-list-body-shortened'>
                                <% if page.body.nil? %>
                                    Needs Words
                                <% else %>
                                    <%= page.body[0,240] + '...' %>
                                <% end %>
                            </div>
                            <div class='page-list-link button-interior-wrapper'>
                                <%= link_to 'Work on this', edit_first_page_path(page.id), :class => 'btn btn-default accept-button' %>
                            </div>
                        </div>
                    <% end %>
    			</div>
    		</div>
    		<div ng-if='hasError'>
				<div class='error-wrapper'>
					{{error}}
				</div>  
    		</div>
    	</div>
    </div>
  </div>
</div>