<%= render 'initial_idea' %>
<%= form_tag first_page_path(@page), method: :put do %>
	<div class='form-group'>
		<%= label_tag :title %><br/>
		<%= text_field_tag :title, @page.title, :class => 'form-control' %>
	</div>
	<div class='form-group'>
		<%= label_tag :body %><br/>
		<%= text_area_tag :body, @page.body, rows: 20, :class => 'form-control'  %>
	</div>
	<div class='actions button-interior-wrapper '>
		<%= link_to 'Delete', first_page_path(@page.id), :method => :delete, data: { confirm: "Are you sure?" }, :class => 'btn btn-danger pull-left' %>
		<button class='btn btn-default'>Cancel</button>
		<%= submit_tag 'Save', :class => 'btn btn-default accept-button' %>
	</div>
<% end %>