<div class='pages-wrapper'>
	<% @pages.zip(@tagsForPages).each do |page, tagGroup| %>
		<div class='pages-item'>
			<div class='pages-title'><%= page.title || 'No Title' %></div>
			<div class='pages-body'><pre><%= page.body[0,500] + '...' %></pre></div>
			<div class='idea-tags first-page-tags'>
				<% tagGroup.each do |tag| %>
					<div class='tag-static'><%= tag %></div>
				<% end %>
			</div>
			<div class='page-list-link'>
                <%= link_to 'read more', first_page_path(page.id), :class => 'btn btn-default accept-button' %>
            </div>
		</div>
	<% end %>
	<% if @pages.empty? %>
		<h3>There are no Full Page ideas. Very sad.</h3>
	<% end %>
</div>