<%= render 'initial_idea' %>
<div class='first-page-item' ng-controller='FirstPageFeedbackCtrl' ng-init='init(<%= @page.id %>)'>
	<div class='first-page-title'><h3><%= @page.title %></h3></div>
	<div class='first-page-body'><pre><%= @page.body %></pre></div>
	<div class='idea-tags first-page-tags'>
		<% @tagsForPage.each do |tag| %>
			<div class='tag-static'><%= tag %></div>
		<% end %>
	</div>	

	<div class='first-page-meta'>
		<i class='glyphicon glyphicon-heart like-button' ng-class='{liked: isLiked }' ng-click='likePage(<%= @page.id%>)'></i>
		<i class='glyphicon glyphicon-comment comment-button' ng-click='setCurrentComment(<%= @page.id%>)' data-toggle="modal" data-target="#newPageCommentModal"></i>
		<span class='label-prompt label pull-right' ng-if='false'>Prompt</span>	
	</div>
	<%= render :partial => 'new_comment', :locals => { :id => @page.id }%>
	<div class='comment-list' ng-if='hasComments'>
		<h3>Comments</h3>
		<div ng-repeat="comment in comments" ng-class="{'last':$last}">
			<div class='comment-item'>
				{{comment.content}}
				<div ng-if='comment.is_author' class='glyphicon glyphicon-user inner-comment-icon' data-toggle="tooltip" title="Commenter is the author"></div>
			</div>
		</div>
	</div>
</div>
