<!DOCTYPE html>
<html lang='en'>
<head>
  <title>You write here | PageWires</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Open+Sans:400,700,300', media: 'all' %> -->
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
	<body class="<%= @controller %> <%= @action %>">
	<%= render 'shared/header' %>
	<div class='container page' ng-app='pageWires'>

    <%= render 'shared/page_title' %>
		<%= yield %>
    <%= render 'shared/modals' %>

  </div>
</body>
</html>
